In [2]:
import findspark
findspark.init('C:\Spark\spark-3.1.3-bin-hadoop3.2')
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types
import pandas as pd
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [3]:
df_green = spark.read.parquet('file\green_tripdata_2021-01.parquet')

In [4]:
df_green.rdd

MapPartitionsRDD[7] at javaToPython at NativeMethodAccessorImpl.java:0

In [5]:
rdd_green = df_green \
    .select('lpep_pickup_datetime', 'PULocationID', 'total_amount','') \
    .rdd

In [6]:
from datetime import datetime
start = datetime(year=2021, month=1, day=1)
def filter_outliers(row):
    return row.lpep_pickup_datetime >= start

In [7]:
rdd_green.take(5)

[Row(lpep_pickup_datetime=datetime.datetime(2021, 1, 1, 7, 15, 56), PULocationID=43, total_amount=6.8),
 Row(lpep_pickup_datetime=datetime.datetime(2021, 1, 1, 7, 25, 59), PULocationID=166, total_amount=16.86),
 Row(lpep_pickup_datetime=datetime.datetime(2021, 1, 1, 7, 45, 57), PULocationID=41, total_amount=8.3),
 Row(lpep_pickup_datetime=datetime.datetime(2021, 1, 1, 6, 57, 51), PULocationID=168, total_amount=9.3),
 Row(lpep_pickup_datetime=datetime.datetime(2021, 1, 1, 7, 16, 36), PULocationID=265, total_amount=-52.8)]

In [8]:
rdd_green.filter(lambda row: row.lpep_pickup_datetime >= start ).take(1)

[Row(lpep_pickup_datetime=datetime.datetime(2021, 1, 1, 7, 15, 56), PULocationID=43, total_amount=6.8)]

In [9]:
def prepare_for_grouping(row): 
    hour = row.lpep_pickup_datetime.replace(minute=0, second=0, microsecond=0)
    zone = row.PULocationID
    key = (hour, zone)
    
    amount = row.total_amount
    count = 1
    value = (amount, count)

    return (key, value)

In [10]:
rdd_green \
    .filter(filter_outliers) \
    .map(prepare_for_grouping) \
    .take(10)

[((datetime.datetime(2021, 1, 1, 7, 0), 43), (6.8, 1)),
 ((datetime.datetime(2021, 1, 1, 7, 0), 166), (16.86, 1)),
 ((datetime.datetime(2021, 1, 1, 7, 0), 41), (8.3, 1)),
 ((datetime.datetime(2021, 1, 1, 6, 0), 168), (9.3, 1)),
 ((datetime.datetime(2021, 1, 1, 7, 0), 265), (-52.8, 1)),
 ((datetime.datetime(2021, 1, 1, 7, 0), 265), (52.8, 1)),
 ((datetime.datetime(2021, 1, 1, 7, 0), 265), (216.36, 1)),
 ((datetime.datetime(2021, 1, 1, 7, 0), 75), (5.76, 1)),
 ((datetime.datetime(2021, 1, 1, 7, 0), 225), (3.8, 1)),
 ((datetime.datetime(2021, 1, 1, 7, 0), 225), (42.05, 1))]

In [11]:
def calculate_revenue(left_value, right_value):
    left_amount, left_count = left_value
    right_amount, right_count = right_value
    
    output_amount = left_amount + right_amount
    output_count = left_count + right_count
    
    return (output_amount, output_count)

In [12]:
rdd_green \
    .filter(filter_outliers) \
    .map(prepare_for_grouping) \
    .reduceByKey(calculate_revenue)\
    .take(10)

[((datetime.datetime(2021, 1, 1, 7, 0), 43), (6.8, 1)),
 ((datetime.datetime(2021, 1, 1, 7, 0), 166), (22.66, 2)),
 ((datetime.datetime(2021, 1, 1, 7, 0), 41), (8.3, 1)),
 ((datetime.datetime(2021, 1, 1, 6, 0), 168), (9.3, 1)),
 ((datetime.datetime(2021, 1, 1, 7, 0), 265), (216.36, 3)),
 ((datetime.datetime(2021, 1, 1, 7, 0), 75), (34.36, 3)),
 ((datetime.datetime(2021, 1, 1, 7, 0), 225), (85.41, 4)),
 ((datetime.datetime(2021, 1, 1, 7, 0), 244), (19.3, 1)),
 ((datetime.datetime(2021, 1, 1, 7, 0), 74), (86.57, 7)),
 ((datetime.datetime(2021, 1, 1, 7, 0), 42), (28.02, 3))]

In [13]:
from collections import namedtuple

In [14]:
RevenueRow = namedtuple('Revenue_green', ['hour', 'zone', 'revenue', 'count'])

In [18]:
def unwrap(row):
    return RevenueRow(
        hour=row[0][0], 
        zone=row[0][1],
        revenue=row[1][0],
        count=row[1][1]
    )

In [19]:
from pyspark.sql import types

In [20]:
green_revenue_schema = types.StructType([
    types.StructField('hour', types.TimestampType(), True),
    types.StructField('zone', types.IntegerType(), True),
    types.StructField('revenue', types.DoubleType(), True),
    types.StructField('count', types.IntegerType(), True)
])

In [23]:
DF_green_revenue = rdd_green \
    .filter(filter_outliers) \
    .map(prepare_for_grouping) \
    .reduceByKey(calculate_revenue)\
    .map(unwrap)\
    .toDF(green_revenue_schema)

In [24]:
DF_green_revenue.show()

+-------------------+----+------------------+-----+
|               hour|zone|           revenue|count|
+-------------------+----+------------------+-----+
|2021-01-01 07:00:00|  43|               6.8|    1|
|2021-01-01 07:00:00| 166|             22.66|    2|
|2021-01-01 07:00:00|  41|               8.3|    1|
|2021-01-01 06:00:00| 168|               9.3|    1|
|2021-01-01 07:00:00| 265|            216.36|    3|
|2021-01-01 07:00:00|  75|             34.36|    3|
|2021-01-01 07:00:00| 225|             85.41|    4|
|2021-01-01 07:00:00| 244|              19.3|    1|
|2021-01-01 07:00:00|  74|             86.57|    7|
|2021-01-01 07:00:00|  42|             28.02|    3|
|2021-01-01 07:00:00| 116|             55.59|    4|
|2021-01-01 07:00:00|   7|             61.47|    2|
|2021-01-01 07:00:00| 152|             84.92|    1|
|2021-01-01 07:00:00|  82|              11.8|    1|
|2021-01-01 07:00:00| 259|              29.0|    1|
|2021-01-01 07:00:00| 247|             37.12|    2|
|2021-01-01 07:00:00|  17|            102.34|    3|
|2021-01-01 08:00:00| 173|             16.55|    1|
|2021-01-01 08:00:00| 152|             14.55|    1|
|2021-01-01 08:00:00|  41|52.129999999999995|    3|
+-------------------+----+------------------+-----+
only showing top 20 rows

In [53]:
df_green_partition = spark.read.parquet('file\green\*')
# df_green_partition = df_green.repartition(3) chia partition

In [68]:
columns = ['VendorID', 'lpep_pickup_datetime', 'PULocationID', 'DOLocationID', 'trip_distance']

rdd = df_green_partition \
    .select(columns) \
    .rdd

In [58]:
import pandas as pd

In [107]:
def model_predict(df):
    time = round(df.trip_distance * 5,3)
    return time

In [108]:
def trip_distance_km(df):
    trip_km = round(df.trip_distance * 1.609344,3)
    return trip_km

In [109]:
def time_prediction(rows):
    df = pd.DataFrame(rows, columns=columns)
    predictions = model_predict(df)
    trip_km = trip_distance_km(df)
    df['time_taxi_prediction'] = predictions
    df['trip_km'] = trip_km
    for row in df.itertuples():
        yield row

In [126]:
df_predicts = rdd \
    .mapPartitions(time_prediction)\
    .toDF()

In [129]:
df_predicts.show()
df_predicts.select('trip_km','time_taxi_prediction').show()

+-----+--------+--------------------+------------+------------+-------------+--------------------+-------+
|Index|VendorID|lpep_pickup_datetime|PULocationID|DOLocationID|trip_distance|time_taxi_prediction|trip_km|
+-----+--------+--------------------+------------+------------+-------------+--------------------+-------+
|    0|       2|                  {}|          43|         151|         1.01|                5.05|  1.625|
|    1|       2|                  {}|         166|         239|         2.53|               12.65|  4.072|
|    2|       2|                  {}|          41|          42|         1.12|                 5.6|  1.802|
|    3|       2|                  {}|         168|          75|         1.99|                9.95|  3.203|
|    4|       2|                  {}|         265|         265|          0.0|                 0.0|    0.0|
|    5|       2|                  {}|         265|         265|          0.0|                 0.0|    0.0|
|    6|       2|                  {}|         265|         265|          0.0|                 0.0|    0.0|
|    7|       2|                  {}|          75|          75|         0.45|                2.25|  0.724|
|    8|       2|                  {}|         225|         225|          0.0|                 0.0|    0.0|
|    9|       2|                  {}|         225|         265|        12.19|               60.95| 19.618|
|   10|       2|                  {}|         244|         244|         3.39|               16.95|  5.456|
|   11|       2|                  {}|          75|         213|         6.69|               33.45| 10.767|
|   12|       2|                  {}|          74|         238|         2.34|                11.7|  3.766|
|   13|       2|                  {}|          74|          60|         5.48|                27.4|  8.819|
|   14|       1|                  {}|          42|          41|          0.9|                 4.5|  1.448|
|   15|       2|                  {}|          42|         264|          0.0|                 0.0|    0.0|
|   16|       2|                  {}|          74|         116|         2.08|                10.4|  3.347|
|   17|       2|                  {}|         116|         143|         4.64|                23.2|  7.467|
|   18|       2|                  {}|          75|          42|         1.68|                 8.4|  2.704|
|   19|       2|                  {}|          74|          75|         0.68|                 3.4|  1.094|
+-----+--------+--------------------+------------+------------+-------------+--------------------+-------+
only showing top 20 rows

+-------+--------------------+
|trip_km|time_taxi_prediction|
+-------+--------------------+
|  1.625|                5.05|
|  4.072|               12.65|
|  1.802|                 5.6|
|  3.203|                9.95|
|    0.0|                 0.0|
|    0.0|                 0.0|
|    0.0|                 0.0|
|  0.724|                2.25|
|    0.0|                 0.0|
| 19.618|               60.95|
|  5.456|               16.95|
| 10.767|               33.45|
|  3.766|                11.7|
|  8.819|                27.4|
|  1.448|                 4.5|
|    0.0|                 0.0|
|  3.347|                10.4|
|  7.467|                23.2|
|  2.704|                 8.4|
|  1.094|                 3.4|
+-------+--------------------+
only showing top 20 rows